{% load i18n pages_tags %}
{% spaceless %}

<ul class="nav navbar-nav navbar-right">
    <!-- <li>
        <a href="#">{% trans "User-first" %}</a>
    </li>
    <li>
        <a href="#">{% trans "Easy to manage" %}</a>
    </li>
    <li>
        <a href="#">{% trans "Cloud security" %}</a>
    </li>
    <li>
        <a href="#">{% trans "About us" %}</a>
    </li>
    <li>
        <a href="#">{% trans "Jobs" %}</a>
    </li> -->
    <li class="button-container">
        <a class="btn btn-default navbar-btn" href="/demo/">
            {% trans "Request demo" %}
        </a>
    </li>
</ul>

{% endspaceless %}
