{% load pages_tags mezzanine_tags i18n staticfiles %}

{% spaceless %}
<div id="footer" class="container">
    <!-- <div class="row" id="footer__partners">
        <div class="col-md-6 left">
            <h3>Certified by</h3>
            <img src="{% static "img/anssi.png" %}" alt="ANSSI"/>
        </div>
        <div class="col-md-6 right">
            <h3>In partnership with</h3>
            <img src="{% static "img/ens.png" %}" alt="ENS"/>
        </div>
    </div> -->
    <hr/>
    <div class="row footer__menu">
        <ul>
            <li>© Tanker 2016</li>
            <!-- <li><a href="#">User-first</a></li>
            <li><a href="#">Easy to manage</a></li>
            <li><a href="#">Cloud security</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Jobs</a></li> -->
            <li>
                <a href="/demo/" class="button">
                    Request demo
                </a>
            </li>
        </ul>
    </div>
    <!-- <hr/>
    <div class="row footer__menu">
        <ul>
            <li><a href="#">Documentation API</a></li>
            <li><a href="#">Documentation security</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li>
                <a href="#" class="footer__button">
                    <img src="{% static "img/language.svg" %}" alt="Language"/>
                    <p>English</p>
                </a>
            </li>
        </ul>
    </div> -->
</div>
{% endspaceless %}
