{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block meta_title %}{% trans "Tanker" %}{% endblock %}
{% block meta_description %}{% trans "With Tanker, meet the best of all world to foster the most secure and flexible ... At Tanker we reconcile IT & Security departments with employee's favorite tools..." %}{% endblock %}

{% block main %}
<div id="demo">
    <div class="pipedriveWebForms" data-pd-webforms="https://pipedrivewebforms.com/form/027027dcb8a0cd805071e06cf6d0c2f9836671"><script src="https://pipedrivewebforms.com/webforms.min.js"></script></div>
</div>
{% endblock %}
