body {
    font-family: 'Open Sans';
    color: $darkGrey;
    padding: 0;

    img {
        width: 100%;
    }

    a {
        &.button {
            color: $white;
            font-weight: 600;
            border-radius: 5px;
            padding: 12px 22px;
            text-transform: uppercase;
            @include prefix(box-shadow, 2px 2px 6px 0px $grey);
            background: $yellow;
            white-space: nowrap;
            display: inline;
            line-height: 50px;
            @include prefix(transition, all 0.25s ease);

            &:hover, &:active, &:focus {
                text-decoration: none;
                @include prefix(box-shadow, 4px 4px 6px 0px $grey);
            }

            &.white {
                color: $black;
                background-color: $white;
            }

            &.black {
                color: $white;
                background-color: $black;
            }

            strong {
                font-weight: 700;
            }

            .light {
                text-transform: lowercase;
                font-style: italic;
                font-weight: normal;
                font-size: 13px;
            }
        }
    }

    .button-container {
        padding: 3% 0;

        .button {
            margin-right: 20px;
        }
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-weight: 700;
        padding-bottom: 25px;
        text-transform: uppercase;
    }

    h3 {
        font-size: 25px;
        line-height: 30px;
    }

    p {
        font-size: 17px;
        line-height: 28px;
    }
}
