#header {
    background: transparent;
    border: none;
    position: absolute;
    width: 100%;
    z-index: 2;
    @include prefix(box-shadow, none);

    .navbar-header {
        padding-top: 20px;

        .navbar-brand {
            padding: 5px 20px;
        }

        .navbar-toggle {
            margin-top: 0;
            border-color: $white;
            @include prefix(transition, all 0.2s ease);

            .icon-bar {
                background-color: $white;
            }

            &:hover, &:focus {
                background-color: $white;

                .icon-bar {
                    background-color: $blue;
                }
            }
        }
    }

    .navbar-collapse {
        @media #{$mobile} {
            background: $blue;
        }

        .navbar-nav {
            li {
                padding-bottom: 0;
                padding-top: 30px;
                padding-left: 0;
                padding-right: 33px;

                &.button-container {
                    padding: 0;

                    @media #{$mobile} {
                        padding: 0 20px;
                    }
                }

                @media #{$mobile} {
                    text-align: center;
                    padding: 0 20px;
                }

                a {
                    color: $white;
                    text-shadow: none;
                    padding: 0;
                    @include prefix(transition, all 0.2s ease);

                    &.btn {
                        margin-top: 20px;
                        padding: 9px 15px;
                        background: transparent;
                        color: $yellow;
                        border-color: $yellow;

                        &:hover {
                            background: $yellow;
                            color: $white;
                        }

                        &:after {
                            border: none;
                        }
                    }

                    &:after {
                        position: absolute;
                        content: '';
                        left: 0;
                        right: 0;
                        bottom: 4px;
                        border-top: 1px solid transparent;
                        @include prefix(transition, all 0.2s ease-in-out);
                    }

                    &:hover {
                        &:after {
                            border-top-color: $white;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
