// global variables

$white: #ffffff;
$blue: #263B77;
$black: #151A23;

$yellow: #F6A623;
$royalBlue: #3150C0;
$darkGrey: #777777;
$grey: #C9C9C9;
$lightBlue: #F0F9FC;

// media queries
$mobile: "only screen and (max-width: 768px)";
$mobile-xs: "only screen and (max-width: 420px)";
$tablet: "only screen and (max-width: 992px)";
